*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.container{
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
   
    transform-style: preserve-3d;
    animation: moving 30s linear infinite;
}
.play_button{
    font-size: 80px;
    display: flex;
    color: white;
}

@keyframes moving{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.container span{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--j)*45deg)) translateZ(350px);
}

.container span img{
    position: absolute;
    top: 150px;
    left: 0;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}


.text h2{
    font-size: 5em;
    font-weight: 500;
    color: #222;

}
.text h2 span{
    transition: 0.5s;
}
.text h2 span:nth-child(1){
    margin-right: 10px;
}
.text h2 span:nth-child(2){
    margin-left: 20px;
}
.text h2 span{
    color:#fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff,
}